%p.top_menu
  %noindex
    = link_to 'http://vk.com/opencook', rel: :nofollow do
      = image_tag 'social/vk.png'
      Мы ВКонтакте

    = link_to  'http://www.odnoklassniki.ru/opencook', rel: :nofollow do
      = image_tag 'social/ok.png'
      Мы в Одноклассниках

    = link_to 'https://twitter.com/opencook_ru', rel: :nofollow do
      = image_tag 'social/tw.png'
      Мы в Твиттере

  = link_to '/recipes.rss' do
    = image_tag 'social/rss.png'
    RSS

  = link_to 'О сайте', page_url(:about)

  %noindex
    - if current_user
      = link_to cabinet_url do
        Кабинет (#{ current_user.login })
      = link_to t('sessions.logout'), logout_url, method: :delete
    - else
      = link_to  'Вход', login_url
      = link_to  'Регистрация', signup_url