!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %link(href="favicon.ico" rel="shortcut icon")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "open-cook.ru"

    = csrf_meta_tags
    = javascript_include_tag 'open_cook/application'
    = stylesheet_link_tag    'open_cook/application', media: :all
    = render template: 'layouts/open_cook/items/vk_init'

  %body
    .body
      = render partial: 'layouts/open_cook/items/top_menu'
      %p.about <strong>Открытая кухня Анны Нечаевой</strong> &mdash; сайт содержит рецепты простых и доступных блюд, которые может приготовить каждый из самых обычных продуктов
      .logo_banner
      = render partial: 'layouts/open_cook/items/sections'

      .content.overblock
        %table.layout
          %tr
            %td.left
              .block
                = render partial: 'layouts/open_cook/widgets/express_nav'
                = yield :hubs_widget
                = yield :recent_comments_widget
                = yield :role_sidebar
            %td.center
              .block
                = render partial: 'layouts/open_cook/items/notice_block'
                = yield
                = yield :role_main
            %td.right
              .block
                = yield :tags_widget
                = render template: 'layouts/open_cook/items/vk_group'
                = render template: 'layouts/open_cook/items/ok_group'
                = yield :tag_search_widget

      .fguard &nbsp;
    .footer.overblock
      = render partial: 'layouts/open_cook/items/footer'