!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %link(href="favicon.ico" rel="shortcut icon")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "open-cook.ru"

    = csrf_meta_tags
    = javascript_include_tag 'open_cook/application'
    = stylesheet_link_tag    'open_cook/application', media: :all
  %body
    .body
      .header
        = render partial: 'layouts/open_cook/items/header'

      = render partial: 'layouts/open_cook/items/sections'

      .content.overblock
        %table.layout
          %tr
            %td.left
              = yield :left_column
            %td.center
              = render partial: 'layouts/open_cook/items/notice_block'
              = yield
            %td.right
              = yield :right_column

              =# render partial: 'layouts/open_cook/items/left_menu'
              =# render partial: 'layouts/open_cook/items/right_menu'

      .fguard &nbsp;
    .footer.overblock
      = render partial: 'layouts/open_cook/items/footer'