.users_cabinet
  %h3 Кабинет пользователя #{@user.login}

  - if current_user.has_role?(:posts, :new) || current_user.has_role?(:pages, :manage)
    .fn_block
      %h4= t '.create'

      %ul.marked_list
        - if current_user.has_role?(:posts, :new)
          %li= link_to t('.new_post'), new_post_url

        - if current_user.has_role?(:pages, :manage)
          %li= link_to t('.new_page'), new_page_url

  - if current_user.any_role?(posts: :manage, pages: :manage)
    .fn_block
      %h4= t '.pubs_manage'

      %ul.marked_list
        - if current_user.has_role?(:posts, :manage)
          %li= link_to t('.my_posts'), manage_user_posts_url(@user)

        - if current_user.has_role?(:pages, :manage)
          %li= link_to t('.my_pages'), manage_user_pages_url(@user)

  - if current_user.has_role?(:posts, :my)
    .fn_block
      %h4= t '.show'

      %ul.marked_list
        - if current_user.has_role?(:posts, :my)
          %li= link_to t('.my_post_list'),  user_posts_url(@user)

  - if @user.has_role?(:hubs, :manage)
    .fn_block
      %h4= t '.hubs_manage'

      %ul.marked_list
        %li= link_to t('.hubs'), manage_hubs_url

  .fn_block
    %h4= t '.comments'
    
    %ul.marked_list      
      %li= link_to "Новые #{@user.draft_comcoms_count}", [:new, :comment]
      %li= link_to "Все #{@user.comcoms_sum}", [:incoming, :comments]
      %li= link_to "Написанные мной #{@user.my_comments_count}", [:my, :comments]
      %li= link_to "Удаленные #{@user.deleted_comcoms_count}", [:trash, :comments]

  - if @user.has_role?(:roles, :manage)
    .fn_block
      %h4= t '.users_and_roles'

      %ul.marked_list
        %li= link_to t('.users'), users_url
        %li= link_to t('.roles'), admin_roles_url