.users_cabinet
  %h3 Кабинет пользователя #{@user.login}

  .fn_block
    %h4 Создать:

    %ul.marked_list
      %li= link_to 'Новый Пост',     new_post_url
      %li= link_to 'Новую страницу', new_page_url

  .fn_block
    %h4 Управление публикациями:

    %ul.marked_list
      %li= link_to 'Мои посты',    manage_user_posts_url(@user)
      %li= link_to 'Мои страницы', manage_user_pages_url(@user)

  .fn_block
    %h4 Просмотр:

    %ul.marked_list
      %li= link_to 'Моя лента постов',  user_posts_url(@user)

  - if current_user.has_role?(:hubs, :manage)
    .fn_block
      %h4 Упрвление cтруктурой:

      %ul.marked_list
        %li= link_to 'Разделы сайта', manage_hubs_url

  .fn_block
    %h4 Комментарии
    
    %ul.marked_list
      %li= link_to "My comments #{@user.my_comments_count}", [:my, :comments]
      %li= link_to "Incoming comments #{@user.comcoms_sum}", [:incoming, :comments]
      %li= link_to "New comments #{@user.draft_comcoms_count}", [:new, :comment]
      %li= link_to "Deleted comments #{@user.deleted_comcoms_count}", [:trash, :comments]

  .fn_block
    %h4 Управление ролями:

    %ul.marked_list
      %li= link_to 'Роли', admin_roles_url