.users_cabinet
  %h3 Кабинет пользователя #{@user.login}

  - if current_user.has_role?(:posts, :new) || current_user.has_role?(:pages, :manage)
    .fn_block
      %h4 Создать:

      %ul.marked_list
        - if current_user.has_role?(:posts, :new)
          %li= link_to 'Новый Пост', new_post_url

        - if current_user.has_role?(:pages, :manage)
          %li= link_to 'Новую страницу', new_page_url

  -# current_user.any_role?({ posts: :manage, pages: :manage })
  - if current_user.has_role?(:posts, :manage) || current_user.has_role?(:pages, :manage)
    .fn_block
      %h4 Управление публикациями:

      %ul.marked_list
        - if current_user.has_role?(:posts, :manage)
          %li= link_to 'Мои посты', manage_user_posts_url(@user)

        - if current_user.has_role?(:pages, :manage)
          %li= link_to 'Мои страницы', manage_user_pages_url(@user)

  - if current_user.has_role?(:posts, :my)
    .fn_block
      %h4 Просмотр:

      %ul.marked_list
        - if current_user.has_role?(:posts, :my)
          %li= link_to 'Моя лента постов',  user_posts_url(@user)

  - if @user.has_role?(:hubs, :manage)
    .fn_block
      %h4 Упрвление cтруктурой:

      %ul.marked_list
        %li= link_to 'Разделы сайта', manage_hubs_url

  .fn_block
    %h4 Комментарии
    
    %ul.marked_list
      %li= link_to "Мои комментарии #{@user.my_comments_count}", [:my, :comments]
      %li= link_to "Входящие комментарии #{@user.comcoms_sum}", [:incoming, :comments]
      %li= link_to "Новые комментарии #{@user.draft_comcoms_count}", [:new, :comment]
      %li= link_to "Удаленные комментарии #{@user.deleted_comcoms_count}", [:trash, :comments]

  - if @user.has_role?(:roles, :manage)
    .fn_block
      %h4 Роли и Пользователи:

      %ul.marked_list
        %li= link_to 'Роли', admin_roles_url
        %li= link_to 'Пользователи', admin_roles_url