= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password


  .actions= f.submit