- unless object.new_record?
  .stats
    .info
      %p
        %b= t('.author')
        = object.user.login
        \|
        %b= t('.show_count')
        = object.show_count
        \|
        - if object.try(:pubs)
          %b= t('.pubs_count')
          = object.pubs.count
          \|
        %b= t('.files_count')
        = object.storage_files_count
        \|
        %b= t('.files_size')
        = raw mb_size(object.storage_files_size)