%h1 List of Post-like entities

- [:pages, :posts, :blogs, :recipes, :articles].each do |name|
  = link_to "#{name} (#{name.to_s.classify.constantize.count})", url_for(controller: name)
  \|
- User.all.each do |user|
  %p
    = user.hubs.of_(:posts).count
    = user.hubs.of_(:pages).count
    = user.hubs.of_(:blogs).count
    = user.hubs.of_(:recipes).count
    = user.hubs.of_(:articles).count
    

