.navbar.mt5.navbar-inverse{ role: :navigation }
  = link_to 'The!CMS.', root_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to 'На главную', root_url

        - system_pages.each do |page|
          %li= link_to page.title, page_url(page.slug)

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to cabinet_url do
            Кабинет (#{ current_user.login })
        %li= link_to t('sessions.logout'), logout_url, method: :delete
      - else
        %li= link_to  'Регистрация', signup_url
        %li= link_to  'Вход', login_url

