.panel.panel-success
  .panel-body
  %noindex
    %ol.breadcrumb
      %li.active
        %b= link_to 'На главную', root_url
      %li
        = link_to 'О сайте', page_url(:about)

      - if current_user
        %li
          = link_to cabinet_url do
            Кабинет (#{ current_user.login })
        %li= link_to t('sessions.logout'), logout_url, method: :delete
      - else
        %li= link_to  'Регистрация', signup_url
        %li= link_to  'Вход', login_url