= render partial: 'shared/crop_image_form', locals: { object: @hub }

= form_for @hub, html: { enctype: "multipart/form-data" } do |f|
  = error_messages_for @hub

  = hidden_field_tag 'hub_id',    @hub.id
  = hidden_field_tag 'hub_klass', @hub.class

  = render partial: 'shared/main_image_toolbar', locals: { f: f, object: @hub }
  
  .field
    = f.label :title, t('.title')
    = f.text_field :title

  = render partial: 'hubs/hub_select', locals: { object: @hub } 
  = render partial: "shared/meta_fields", locals: { f: f }

  .field
    %p
      %b= t('.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    - options = options_for_select(hub_pubs_types, @hub.pubs_type)
    = f.label  :pubs_type, t('.pubs_type')
    = f.select :pubs_type, options
  .field
    - options = options_for_select(publication_states, @hub.state)
    = f.label  :state, t('.state')
    = f.select :state, options

  .actions
    = f.submit t('.save')

  = render partial: 'shared/pub_stats', locals: { object: @hub }