- content_for :express_nav do
  %p= link_to 'Мой Кабинет', cabinet_url
  %p= link_to 'Просмотр хаба', url_for(@hub)
  %p= link_to 'Мои Хабы', url_for([:manage, :hubs])

%h1 Редактирование Хаба

= render 'hubs/form'
= render partial: 'the_storages/form', locals: { storage: @hub }
= render partial: 'the_storages/list', locals: { storage: @hub }