-#
  - if [:show].include? action_name.to_sym
    - if @user
      .well.sidebar-nav
        %h5 Об авторе:
        = image_tag "http://lorempixel.com/180/180/people/"
        %h5 User: #{ link_to @user.username, user_url(@user) }
        %p Role: #{ @user.role.title }
        %hr
        %ul.nav.nav-list
          %li
            - [:blogs, :posts, :pages, :recipes, :articles].each do |type|
              - count = @user.blogs.with_states(:published).count
              - if count > 0
                = link_to [@user, type] do
                  = type.capitalize
                  \:
                  = @user.blogs.with_states(:published).count

.well.sidebar-nav
  %h5 Теги
  %hr