%h3= t ".cabinet", login: @user.login

- if current_user.any_role?(posts: :new, pages: :new)
  %h4= t '.create'
  
  .list-group
    - if current_user.has_role?(:posts, :new)
      = link_to t('.new_post'), new_post_url, class: 'list-group-item'
    - if current_user.has_role?(:pages, :new)
      = link_to t('.new_page'), new_page_url, class: 'list-group-item'

- if current_user.any_role?(posts: :manage, pages: :manage)
  %h4= t '.pubs_manage'

  .list-group
    - if current_user.has_role?(:posts, :manage)
      = link_to t('.my_posts'), manage_user_posts_url(@user), class: 'list-group-item'
    - if current_user.has_role?(:pages, :manage)
      = link_to t('.my_pages'), manage_user_pages_url(@user), class: 'list-group-item'

- if current_user.has_role?(:posts, :my)
  %h4= t '.show'

  .list-group
    - if current_user.has_role?(:posts, :my)
      = link_to t('.my_post_list'),  user_posts_url(@user), class: 'list-group-item'

- if @user.has_role?(:hubs, :manage)
  %h4= t '.hubs_manage'

  .list-group
    = link_to t('.hubs'), manage_hubs_url, class: 'list-group-item'

%h4= t '.comments'  
.list-group
  = link_to [:manage, :comments], class: 'list-group-item' do
    = t ".incoming_comments"
    %span.badge= @user.draft_comcoms_count

- if @user.has_role?(:roles, :manage)
  %h4= t '.users_and_roles'

  .list-group
    = link_to t('.users'), users_url, class: 'list-group-item'
    = link_to t('.roles'), admin_roles_url, class: 'list-group-item'