= form_for @user, html: { role: :form } do |f|
  .form-group
    = render partial: "the_notification/form", locals: { object: @user }
  .form-group
    = f.label :login
    = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-info'