- unless object.new_record?
  %nav.navbar.navbar-default{ role: :navigation }
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %p.navbar-text
            %b= t 'pubs.info.author'
            = object.user.login
        %li
          %p.navbar-text
            %b= t 'pubs.info.show_count'
            = object.show_count
        - if object.try(:pubs)
          %li
            %p.navbar-text
              %b= t 'pubs.info.pubs_count'
              = object.pubs.count
        %li
          %p.navbar-text
            %b= t 'pubs.info.files_count'
            = object.storage_files_count
        %li
          %p.navbar-text
            %b= t 'pubs.info.files_size'
            = raw mb_size(object.storage_files_size)