= render partial: 'shared/crop_image_form', locals: { object: @post }

= form_for @post, html: { enctype: "multipart/form-data", role: :form } do |f|
  = render partial: 'the_notification/form', locals: { object: @post }

  = hidden_field_tag 'post_id',    @post.id
  = hidden_field_tag 'post_klass', @post.class

  =# render partial: 'shared/main_image_toolbar', locals: { f: f, object: @post }
  
  .form-group
    = f.label :title, t('pubs.title')
    = f.text_field :title, class: 'form-control'

  = render partial: "shared/top_fields", locals: { f: f, object: @post, selector_hubs: @selector_hubs }

  .form-group
    = f.label :raw_intro, t('pubs.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  
  .form-group
    = f.label :raw_content, t('pubs.content')
    = f.text_area :raw_content, class: :redactor_content

  .form-group
    = f.label :tag_list, t('pubs.tags')
    = f.text_field :tag_list, class: 'form-control'

  - if !@post.new_record?
    .form-group
      - options = options_for_select(publication_states, @post.state)
      .row
        .col-md-12= f.label  :state, t('pubs.state')
      .row
        .col-md-5= f.select :state, options, {}, class: 'form-control input-medium'
  
  .form-group
    = f.submit t('pubs.save'), class: 'btn btn-info'

  = render partial: 'shared/pub_stats', locals: { object: @post }
