= form_for @post, html: { enctype: "multipart/form-data" } do |f|
  = error_messages_for @post

  = f.file_field :main_image
  = image_tag @post.main_image.url(:base)

  =# render partial: 'the_storages/preview_maker', locals: { storage: @post }
  
  = hidden_field_tag 'post_id',    @post.id
  = hidden_field_tag 'post_klass', @post.class

  - unless @post.new_record?
    %p
      %b= t('post.author')
      = @post.user.login

  .field
    = f.label :title, t('post.title')
    = f.text_field :title

  = render partial: 'posts/hub_select'
  = render partial: "posts/meta_fields", locals: { f: f }

  .field
    %p
      %b= t('post.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    %p
      %b= t('post.content')
    = f.text_area :raw_content, class: :redactor_content
  .field
    - options = options_for_select(publication_states, @post.state)
    = f.label  :state, t('post.state')
    = f.select :state, options
  .actions
    = f.submit t('post.save')
