
= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :intro
    = f.text_area :intro
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'

-#
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :keywords
    = f.text_field :keywords
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :copyright
    = f.text_field :copyright
  .field
    = f.label :main_image_url
    = f.text_field :main_image_url
  .field
    = f.label :first_published_at
    = f.datetime_select :first_published_at
