= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  
  =# render partial: 'the_storages/preview_maker', locals: { storage: @post }
  = hidden_field_tag 'post_id', @post.id

  %p
    %b Post author:
    = @post.user.login

  .field
    = f.label :title
    = f.text_field :title

  .field.pub_type_select
    - options = options_for_select(publication_types, @post.pub_type)
    = f.label  :pub_type, t('publication.type')
    = f.select :pub_type, options

  .field.hub_select

  = render partial: "meta_fields", locals: { f: f }

  .field
    %p
      %b Вводная часть
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    %p
      %b Основное содержимое
    = f.text_area :raw_content, class: :redactor_content
  .field
    - options = options_for_select(publication_states, @post.state)
    = f.label  :state, t('publication.state')
    = f.select :state, options
  .actions
    = f.submit 'Save'
