= render partial: 'shared/crop_image_form', locals: { object: @post }

= form_for @post, html: { enctype: "multipart/form-data" } do |f|
  = error_messages_for @post

  = hidden_field_tag 'post_id',    @post.id
  = hidden_field_tag 'post_klass', @post.class

  = render partial: 'shared/main_image_toolbar', locals: { f: f, object: @post }
  
  .field
    = f.label :title, t('post.title')
    = f.text_field :title

  = render partial: 'hubs/hub_select', locals: { object: @post }
  = render partial: "shared/meta_fields", locals: { f: f }

  .field
    %p
      %b= t('post.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  
  .field
    %p
      %b= t('post.content')
    = f.text_area :raw_content, class: :redactor_content

  .field
    %p
      %b= t('post.tags')
    = f.text_field :tag_list

  .field
    - options = options_for_select(publication_states, @post.state)
    = f.label  :state, t('post.state')
    = f.select :state, options
  
  .actions
    = f.submit t('post.save')

  = render partial: 'shared/pub_stats', locals: { object: @post }
