= form_for @post do |f|
  = error_messages_for @post

  =# render partial: 'the_storages/preview_maker', locals: { storage: @post }
  = hidden_field_tag 'post_id', @post.id

  - unless @post.new_record?
    %p
      %b= t('post.author')
      = @post.user.login

    - if @post.hub
      %p
        %b= t('post.hub_title')
        = @post.hub.title

  .field
    = f.label :title, t('post.title')
    = f.text_field :title

  .field.pub_type_select
    - options = options_for_select(post_types, @post.pub_type)
    = f.label  :pub_type, t('post.type')
    = f.select :pub_type, options

  .field.hub_select
    = render partial: "hubs/selector"

  = render partial: "meta_fields", locals: { f: f }

  .field
    %p
      %b= t('post.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    %p
      %b= t('post.content')
    = f.text_area :raw_content, class: :redactor_content
  .field
    - options = options_for_select(publication_states, @post.state)
    = f.label  :state, t('post.state')
    = f.select :state, options
  .actions
    = f.submit t('post.save')
