= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = render partial: 'the_storages/preview_maker', locals: { storage: @post }

  .field
    = f.label :title
    = f.text_field :title
  .field
    %p
      %b Вводная часть
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    %p
      %b Основное содержимое
    = f.text_area :raw_content, class: :redactor_content
  .field
    = f.label :state, t('publication.state')
    - options = options_for_select(publication_states, @post.state)
    = f.select :state, options
  .actions
    = f.submit 'Save'
