= form_for @post, html: { enctype: "multipart/form-data" } do |f|
  = error_messages_for @post

  = hidden_field_tag 'post_id',    @post.id
  = hidden_field_tag 'post_klass', @post.class

  .image_toolbar
    %p
      %b Главное изображение поста:

    - if @post.main_image?  
      .rotate
        = link_to '', main_image_to_left_url(@post.class.to_s, @post.id),  method: :patch, class: :left
        = link_to '', main_image_to_right_url(@post.class.to_s, @post.id), method: :patch, class: :right
    .image_preview
      = link_to @post.main_image.url(:base) do
        = image_tag @post.main_image.url(:preview)

    .tools_block
      - if @post.main_image?
        = link_to '', |
        delete_main_image_url(@post.class.to_s, @post.id), |
        method: :delete, data: { confirm: "Вы уверены?" }, class: :img_clear

      %p
        %label Укажите изображение:
        = f.file_field :main_image
      %p
        = link_to 'Выбрать область изображения', '#', method: :patch, class: :jcrop_run

      =# render partial: 'the_storages/preview_maker', locals: { storage: @post }
  
  - unless @post.new_record?
    %p
      %b= t('post.author')
      = @post.user.login

  .field
    = f.label :title, t('post.title')
    = f.text_field :title

  = render partial: 'posts/hub_select'
  = render partial: "posts/meta_fields", locals: { f: f }

  .field
    %p
      %b= t('post.intro')
    = f.text_area :raw_intro, class: :redactor_intro
  .field
    %p
      %b= t('post.content')
    = f.text_area :raw_content, class: :redactor_content
  .field
    - options = options_for_select(publication_states, @post.state)
    = f.label  :state, t('post.state')
    = f.select :state, options
  .actions
    = f.submit t('post.save')
