%p.informer
  %b= t 'posts.author'
  = link_to posts.user.login, user_path(posts.user.login)

  %b= t 'posts.published_at'
  = posts.published_at.strftime('%d.%m.%Y')
  
  %b= t 'posts.views'
  = posts.show_count

  - if posts.respond_to? :comments
    %b= t 'posts.comments'
    = link_to posts.comments_sum, show_url(post, :comments)