= content_for :left_column do
  .fragment_block
    %h3 Навигация
    .block
      %p= link_to 'Мой Кабинет', cabinet_url
      %p= link_to t("posts.feed"), url_for([:manage, @post.class])

%h1= t("#{@post.ctrl_name}.edit")

= render 'posts/form'
= render partial: 'the_storages/list', locals: { storage: @post }
= render partial: 'the_storages/form', locals: { storage: @post }