%h1 Editing #{@klass}

= render 'posts/form'

= form_for :attached_file, url: attached_files_url, html: { multipart: true, method: :post } do |f|
  = hidden_field_tag 'storage_type', @post.class
  = hidden_field_tag 'storage_id',   @post
  %p
    = file_field_tag 'files[]', class: :multi
  = f.submit