= paginate @posts

- @posts.each do |post|
  %h2= link_to post.title, post
  = image_tag "http://lorempixel.com/460/200/nightlife/?#{rand}"
  %p= raw post.intro
  %p= post_info post
  %hr

= paginate @posts