= render partial: 'layouts/open_cook/items/left_column'

= paginate @posts

%ul.posts_index
  - @posts.each do |post|
    %li
      %h2= link_to post.title, show_url(post)
      %p= image_tag post.main_image.path
      %p= raw post.intro
      %p= tags_links(post.inline_tags)
      %p.pub_info= post_info(post)
      %p.read_more= link_to t('publications.read_more'), '#'

= paginate @posts