- content_for :hubs_widget do
  = render partial: 'layouts/open_cook/widgets/hubs'

- content_for :recent_comments_widget do
  = render partial: 'layouts/open_cook/widgets/recent_comments'

- content_for :tag_search_widget do
  = render partial: 'layouts/open_cook/widgets/tag_search'

= paginate @posts

%ul.posts_index
  - @posts.each do |post|
    %li
      %h2= link_to post.title, show_url(post)
      .intro.cf
        - if post.main_image?
          = link_to show_url(post) do
            %p= image_tag post.main_image.url(:preview), class: :preview

        %p= raw post.intro
        = render partial: "posts/read_more", locals: { post: post }

      %p.tags= tags_links(post.inline_tags)
      = render partial: "posts/informer", locals: { post: post }

= paginate @posts