= paginate @posts

%ul.posts_index
  - @posts.each do |post|
    %li
      %h2= link_to post.title, show_url(post)
      %p= image_tag "http://lorempixel.com/460/200/nightlife/?#{rand}"
      %p= raw post.intro
      %p.pub_info= post_info(post)
      %p.read_more= link_to t('publications.read_more'), '#'

= paginate @posts