%p#notice= notice

%h2= @post.title
= image_tag "http://lorempixel.com/460/200/nightlife/?#{rand}"
%p= raw @post.intro
%p= raw @post.content
%p= post_info @post

= render partial: "comments/tree", locals: { comments_tree: @comments, commentable: @post }

-# link_to 'Edit', edit_url(@post)
-# link_to 'Back', index_url(controller_name)
