= render partial: 'layouts/open_cook/items/left_column'

.posts_show
  %h2= @post.title
  %p= image_tag @post.main_image.url(:preview)
  %p= raw @post.intro
  %p= raw @post.content
  %p= @post.inline_tags
  %p= post_info @post

= render partial: "the_comments/tree", locals: { comments_tree: @comments, commentable: @post }