!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "TheApp"
    
    -# %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    -# %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    -# %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    -# %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    -# Javascripts
    -# Placed at the end of the document so the pages load faster
    = javascript_include_tag :application
    = csrf_meta_tags

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      =# javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag :application, media: :all

    %link(href="favicon.ico" rel="shortcut icon")
  %body
    .container    
      .row
        .span12
          = render 'layouts/items/application/top_menu'
        .span12
          - Hub.with_title(:top_pages).pages.each do |page|
            = link_to page.title, page_url(page)
      .row
        .span12
          %center
            %h3 Site of: #{ @user.login }
      .row
        .span3
          = render 'layouts/items/application/left_menu'
          = render 'layouts/items/application/right_menu'
        .span9
          - [:notice, :error, :alert].each do |level|
            - unless flash[level].blank?
              .alert.flash_msgs{ class: flash_class(level) }
                %a.close ×
                = content_tag :p, flash[level]       
          = yield

      %footer
        %p &copy; Company 2013
        .span12
          - Hub.with_title(:bottom_pages).pages.each do |page|
            = link_to page.title, page_url(page)
