!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title TheApp
    = stylesheet_link_tag    :application, "data-turbolinks-track" => true, media: :all
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .body#top
      = render 'layouts/items/top_menu'
      .header &nbsp;

      .content
        %table.layout
          %tr
            %td.left= render 'layouts/items/left_menu'

            %td.center
              - unless flash.empty?
                = flash[:notice]
                = flash[:error]
                = flash[:alert]

              = yield
            %td.right

      .footer_guarantor &nbsp;
    .footer