!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title TheApp
    = stylesheet_link_tag    :application, "data-turbolinks-track" => true, media: :all
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .body#top
      = render 'layouts/items/main_menu'
      .header &nbsp;

      .content
        %table.layout
          %tr
            %td.left= render 'layouts/items/sidebar'

            %td.center= yield
            %td.right

      .footer_guarantor &nbsp;
    .footer