.navbar
  .navbar-inner
    .container
      -#
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.brand(href=root_url) Home
      .container.nav-collapse
        %ul.nav
          %li= link_to t('users.index'), users_url
          %li= link_to 'События на сайте', '#'
          %li= link_to 'New comments', comments_url
          - if current_user
            %li
              = link_to cabinet_url do
                User: #{ current_user.login }
            %li= link_to t('sessions.logout'), logout_url, method: :delete
          - else
            %li= link_to t('sessions.new'), login_url

